<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <title>Log In</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="styles/style.css" />
    <script type="text/javascript" src="libs/vue.js"></script>
    <script type="text/javascript" src="libs/axios.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>


<body class="LogBack">
    <!--<div id="app">
        <div class="title">Users</div>

        <ul class="user-list">
            <li>
                <div class="user-row-header">
                    <div class="user-name">Name</div>
                    <div class="user-city">City</div>
                </div>
            </li>

            <li v-for="(user, index) in users">
                <div class="user-row">
                    <div class="user-name">{{ user.name }}</div>
                    <div class="user-city"><i>{{ user.city }}</i></div>
                </div>
            </li>
        </ul>
    </div>-->
    <!--<div id="app">
        <div class="title">TST</div>

        <ul class="user-list">
            <li>
                <div class="user-row-header">
                    <div class="user-name">Id</div>
                    <div class="user-city">Square</div>
                </div>
            </li>

            <li v-for="(tst, index) in testing">
                <div class="user-row">
                    <div>{{ tst.id }}</div>
                    <div><i>{{ tst.square }}</i></div>
                </div>
            </li>
        </ul>
    </div>



    <form id="book-form" autocomplete="off">
        <div>
            <label>Title      </label>
            <input id="titleInput" type="text" placeholder="Enter Title">
        </div>

        <div>
            <label>Author     </label>
            <input id="authorInput" type="text" placeholder="Enter author">
        </div>

        <div>
            <label>Type     </label>
            <input id="typeInput" type="text" placeholder="Enter type">
        </div>

        <div>

            <input id="addInput" type="submit" value="Add">
        </div>

    </form>


    <div>
        <table id="book-list" class="book-list">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Author</th>
                    <th>Type</th>

                </tr>
            </thead>

            <tbody>

                <tr>

                    <td>CarteaX</td>
                    <td>Aut</td>
                    <td>Comedie</td>
                    <td>
                        <a class="modify" href="#"> Modify </a>
                        <a class="delete" href="#"> Delete </a>
                    </td>

                </tr>

            </tbody>


        </table>
    </div>


    <button onclick="testFunction()">Click me</button>
    <button onclick="testFunction2()">Click me TOO</button>-->
    <!--</br></br> </br></br>-->
    <!--these will be usefull later;-->
    <!--<input id="gameId" type="text"> </br></br>
    <input id="gameName" type="text"></input> </br></br>
    <input id="gameGenre" type="text"></input> </br></br>
    <input id="gameStatus" type="text"></input> </br></br>

    <div id="comd"></div>
    <button onclick="GetGame()"> Find game by id </button>
    <button onclick="AddGame()"> Add new game </button>
    <button onclick="UpdateGame()"> Update </button>
    <button onclick="DeleteGame()"> Del </button>

    </br></br> </br></br>-->

    <br /><br />
    <button class="btnBack" onclick="Back()"> BACK </button> <br />


    <div class="Log">
        <div class="LogTitle">SIGN UP</div> <br />


        <div class="label">Username</div>
        <input class="inp" id="userName" type="text"> <br /><br />

        <div class="label">Password</div>
        <input class="inp" id="userPass" type="text"> <br /><br />


        <div id="comd"></div>

        <button class="buttonS1" onclick="AddUser()"> SIGN UP </button> <br /><br />



    </div>




    <!--these will be usefull later;-->
    <!--</br></br> </br></br>

    <input id="borrowgameId" type="text"> </br></br>
    <input id="bnr">

    <button onclick="BorrowGame()"> Borrow </button>
    <button onclick="HowMany()"> Number of borrow </button>
    <button onclick="ReturnGame()"> Return </button>
    <button onclick="WhoHasIt()"> Who </button>-->
    <!--these will NOT be usefull later;-->
    <!--</br></br> </br></br>
    <div id="thing"> </div>

    <button onclick="SetA()"> A </button>
    <button onclick="SetB()"> B </button>
    <button onclick="Retrieve()"> R </button>-->
    <!--</br></br> </br></br>
    <button onclick="window.location.href = 'index2.html';">HOME</button>-->



    <script src="src/app.js"></script>
</body>
</html>
