body {
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
}

#app {
  width: 25%;
  margin: 0 auto 0 auto;
}



.title {
  background-color: #0053c0;
  padding: 15px 15px 5px 10px;
  color: white;
  font-size: 20px;
}



.Log {
    background-color: lightblue;
    width: 500px;
    height: 220px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Manage {
    background-color: lightblue;
    width: 500px;
    height: 250px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LogBack {
    background-color: cornflowerblue;


    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}


.LogTitle {
    color: white;
    font-size: 30px;
    font-weight: bolder;

    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.label {
    display: inline;
    color: black;
    font-size: 18px;
    margin-right: 20px;
}

.buttonS1 {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 18px;
    border: 4px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    text-shadow: 0px 1px 0px #283966;
    margin-left: 20px;
    margin-right: 20px;
}




.inp{
    border-width: 2px;
}

.backg {
    background-color: cornflowerblue;
}

.btnBack {
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border: 4px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 11px 32px;
    text-decoration: none; 
}


.buttonSignUp {
    box-shadow: 0px 0px 0px 2px #9e30ff;
    background: linear-gradient(to bottom, #953dba 5%, #7543d9 100%);
    background-color: #953dba;
    border-radius: 10px;
    border: 3px solid #a148b5;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 34px;
    text-decoration: none;
}

.LogLower {
 
    text-align: end;
    position: absolute;

    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.warning{
    font-size: 18px;
    font-weight: bold;
    color: red;
}